Owlready2==0.40
argparse==1.4.0
pandas==1.5.3
numpy==1.24.2
gensim==4.3.0
scipy==1.10.1
scikit-learn==1.2.1
setuptools==67.6.0
requests==2.28.2
tqdm==4.65.0
sparse_dot_topn==0.3.4
bioregistry==0.6.92
nltk==3.8.1
rapidfuzz==2.13.7
shortuuid==1.0.11
